/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

a {
	color: gray;
	text-decoration: none;
	padding-left: 25px;
	padding-right: 25px;
	display: inline-block;
}


#intro {
	width: 90%;
	text-align: center;
	border-bottom: 0.25px solid black;
	display: inline-block;
}

.catchphrase, .codepic {
	width: 200px;
	
  	padding: 20px;
    text-align: middle;
	vertical-align: middle;
	display: inline-block;
}

.navigation {
	margin-left: 30px;
	display: inline-block;
	
}


.logo {
	margin-top: 20px;
	margin-left: 100px;
	
	display: inline-block;

}


button {
	display: inline-block;
}

h2 {
	font-weight: bold; 
}

.features {
	margin-left: 30px;
	width: 90%;
	display: inline-block;
}

.feat, .bout {
	width: 40%;
  	padding: 20px;
    text-align: middle;
	vertical-align: middle;
	display: inline-block;
}

.middle-img {
	margin-left: 47px;
	margin-bottom: 20px; 
}

.servicesection {
	width: 90%;
	display: inline-block;
	border-bottom: 0.25px solid black; 
}

.service, .product, .vision {
	margin-left: 30px;
	width: 25%;
	padding: 20px;
	text-align: middle;
	vertical-align: middle;
	display: inline-block;
}

.contact {
	margin: 40px 0px 20px 45px;
	width: 200px;
}

.copyright {
	width: 80%;
	text-align: center;
}
